---
	import BaseLayout from "../layouts/BaseLayout.astro";
	import HeroDiverwebMobil from "../assets/hero-diverweb-mobil.png"
	import Source from "../assets/calendar.svg"
	const pageTitle = "diverweb"
---

<BaseLayout pageTitle={pageTitle}>
	<section class="main__grid">
		<picture class="main__picture">
			<source srcset={Source} class="main__img" media="(min-width:768px)">
			<img src={HeroDiverwebMobil} alt="hero diverweb mobil" class="main__img">
		</picture>
	</section>
</BaseLayout>