---
	import BaseLayout from "../layouts/BaseLayout.astro";
	import Greeting from '../components/Greeting.jsx';
	const pageTitle = "diverweb"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Subtitulo de la pagina</h2>
	<Greeting messages={["Hola", "Qué tal", "Hola a todos"]} />
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>