---
  import Hamburguer from "./Hamburger.astro";
  import Navegation from "./Navegation.astro";
  import ThemeIncon from "./ThemeIncon.astro";
---

<header>
  <nav>
    <Hamburguer />
    <ThemeIncon />
    <Navegation />
  </nav>
</header>